<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="InsureMe | APIs">
    <meta name="ROBOTS" content="Bootstrap 3 Themes, Responsive Themes, Bootstrap 3 Responsive, Wordpress Themes, Clean Themes, Modern Themes, Flat Themes, Flat UI, UI Design, UX Design, Web design, responsive bootstrap, Jquery Plugins, Free Plugins, Premium Bootstrap themes, Bootstrap 3, Premium Web Templates, Bootstrap Templates, Bootstrap Responsive Templates, Admin, Dashboard, Admin Templates, Admin Responsive, Admin responsive themes">
    <meta name="description" content="We're working hard to bring right PHI Australia Products at affordable prices for you!">
    <meta name="abstract" content="We're working hard to bring right PHI Australia Products at affordable prices for you!">

    <meta name="author" content="http://insureme.com.au">
    <meta name="publisher" content="http://insureme.com.au">
    <meta name="copyright" content="http://insureme.com.au">
    <meta name="revisit-after" content="2 days">
    <link rel="shortcut icon" href="../../Assets/img/favicon.png">
    <title>InsureMe | APIs</title>
    <!-- Bootstrap -->
    <link href="../../Assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../Assets/css/font-awesome.css" rel="stylesheet">
    <link href="../../Assets/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Assets/css/animations.css">
    <!-- siimple style -->
    <link href="../../Assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()
</body>
</html>