$left-side-width: 250px;
$right-side-width: 350px;

$toolbar-height: 80px;
$header-height: 170px;

$primary: #d32f2f;
$secondary: #0d47a1;

$warning: #ffa000;
$danger: $primary;
$success: #388e3c;
$info: #0074d9;

$disabled: #cccccc;

